---
const {etiqueta} = Astro.props;
---

<details class="group rounded-lg overflow-hidden border border-gray-200 dark:border-unag-green ">
  <summary
    class="flex items-center justify-between p-4 bg-unag-light-green/10 dark:bg-unag-dark-green text-unag-gray dark:text-white font-bold cursor-pointer hover:bg-unag-green hover:text-white transition-colors duration-200 group-open:bg-unag-green group-open:text-white select-none"
  >
    <span>{etiqueta}</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5 transition-transform duration-300 group-open:rotate-180"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
    >
  </summary>
  <div class="p-6 bg-white dark:bg-background border-t border-gray-100 dark:border-unag-green space-y-4 text-gray-600 dark:text-white">
    <slot/>
  </div>
</details>
