---
const {departamento, correo} = Astro.props;
---
<div
  class="bg-gray-50 border-t border-gray-100 p-8 rounded-xl shadow-sm text-center"
>
  <h3 class="text-lg font-bold text-unag-dark-green mb-2">Contacto</h3>
  <p class="text-gray-600 mb-4">
    Si desea ponerse en contacto con {departamento} de la Universidad
    Nacional de Agricultura, puede escribirnos:
  </p>
  <a
    href={`mailto:${correo}`}
    class="inline-flex items-center gap-2 text-unag-green font-bold hover:text-unag-dark-green transition-colors bg-white px-4 py-2 rounded-lg border border-unag-green/30 shadow-sm hover:shadow-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
        d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
    >
    {correo}
  </a>
</div>
