#GEMINI_API_KEY=AIzaSyBeDWZN4CXY8tv_PQqfob9PfuTdBNQORPg
OPENAI_API_KEY=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