---
import Layout from "@/layouts/main.astro";
import HeaderSimple from "@/components/astro/ui/header-simple.astro";

const content = {
  title: "Sistema Académico de Cultura, Artes y Deportes | UNAG",
};
---

<Layout content={content}>
  <HeaderSimple
    imagen="/img/direcciones-academicas/bg-cultura-artes-deporte.webp"
    etiqueta="Organización"
    subetiqueta="Direcciones Académicas"
    titulo="Sistema Académico de Cultura, Artes y Deportes"
  />

  <section
    class="text-unag-gray text-sm max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20"
  >
    <article class="prose prose-sm max-w-none prose-unag-gray">
      <h2 class="font-bold">¿Qué es la DISCADE?</h2>
      <p>
        DISCADE es el Sistema Académico de la Universidad Nacional de
        Agricultura, comisionado para plantear y ejecutar las políticas
        orientadas al desarrollo de una cultura institucional, con acciones que
        gestionan y promueven la formación humana como eje fundamental,
        adecuando las normativas para los diversos programas y proyectos
        culturales, artísticos y deportivos dentro y fuera de la comunidad
        universitaria.
      </p>
      <h2>
        Programas, proyectos y líneas de estudio coordinados por la DISCADE
      </h2>
      <p>
        Los diferentes programas, proyectos y líneas de estudio que se generen
        desde la DISCADE, se coordinara con la unidad de cultura, artes y
        deportes de la Vicerrectoría de Vida Estudiantil, así como las unidades
        de Cultura de las facultadas y otras unidades referidas a estas áreas
        que se creen en los diferentes centros regionales a nivel nacional. Este
        trabajo, va encaminado a dinamizar la actividad cultural y social dentro
        de la comunidad universitaria, a la vez, fortalecer los lazos con
        institucionales nacionales y regionales para fomentar actividades de
        Extensión Cultural.
      </p>
      <h2>Programas recreativos en artes y deportes</h2>
      <p>
        Estos programas tienen como objetivo la realización de actividades
        generales e incluyentes tanto a nivel individual de los estudiantes,
        como de Unidades Académicas y formación paracadémica dirigida a
        estudiantes como prioridad, comunidad universitaria y nacional.
      </p>
      <p>
        Este programa comprende los siguientes proyectos:
      </p>
      <ul>
        <li><strong>Talleres Culturales:</strong> Este proyecto promueve espacios de socialización y enseñanza-aprendizaje, a estudiantes, académicos, administrativos y a comunidad nacional en diversas disciplinas deportivas y artísticas de interés.</li>
        <li>
            <strong>Becas por Participación Relevante en Arte y Deporte:</strong> Este proyecto pretende estimular la creatividad y formación artística y deportiva de nuestros estudiantes, representando a la institución tanto nacional como internacionalmente. El cumplimiento de la beca, estará regulado por los términos establecidos en el Reglamento de Becas, Capítulo V, Artículo 9, beca tipo 4, que menciona textualmente lo siguiente: BECAS ARTÍSTICAS, DEPORTIVAS O CULTURALES, que además de manutención del estudiante, comprende la exoneración del pago del 50% de los gastos de funcionamiento y de la matrícula de cada período académico, establecidos en el Plan de Arbitrios de la Universidad. Además de su participación en actividades artísticas, deportivas o culturales, debe mantener índice igual o superior al 70%. Y no haber sido sancionado por ningún tipo de falta. Se exceptúan los gastos de graduación contemplados en el Plan de Arbitrios que deberán ser pagados en su totalidad por cuenta del estudiante.  
        </li>
        <li>
            <strong>Formación de nuevas agrupaciones:</strong> La presentación de un nuevo proyecto de grupo o equipo va a responder a las necesidades institucionales y estudiantiles.
        </li>
        <li>
            <strong>Recreativo en Facultades y Sedes:</strong> Pretende una opción de ocio productivo en la unidad ejecutora del campus central y apoyo a las sedes regionales, identificando necesidades en el ámbito artístico y deportivo, así como dar a conocer la oferta de servicios de la Vicerrectoría de Vida Estudiantil.
        </li>
      </ul>
    </article>
    <quote class="mt-10 block italic text-unag-gray/80 border-l-4 border-unag-green pl-4 bg-unag-green/10 py-10">
      ¡Forma parte de nuestros estudiantes destacados en arte y deportes!
    </quote>
  </section>
</Layout>
