---
export const prerender = true;

import Layout from "@/layouts/main.astro";
import HeaderSimple from "@/components/astro/ui/header-simple.astro";

const content = {
  title: "Sistema de Investigación y Posgrado | UNAG",
};
---

<Layout content={content}>
  <HeaderSimple
    imagen="/img/bg-default-unag-02.webp"
    etiqueta="Organización"
    subetiqueta="Direcciones Académicas"
    titulo="Sistema de Investigación y Posgrado"
  />

  <section
    class="text-unag-gray text-sm max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20"
  >
    <article class="prose prose-sm max-w-none prose-unag-gray">
      <h2 class="font-bold">
        Acerca del Sistema de Investigación Científica y Postgrados
      </h2>
      <p>
        La Universidad Nacional de Agricultura (UNAG) tiene entre sus funciones
        sustantivas, la gestión del conocimiento y el desarrollo de la
        investigación científica e innovación tecnológica en áreas de su
        competencia institucional. Fundamenta su actividad académica y la
        generación de conocimientos científicos en los principios de libertad de
        investigación, de aprendizaje y de catedra para favorecer el desarrollo
        integral de estudiantes y el profesional de los docentes.
      </p>
      <p>
        La UNAG forma profesionales e investigadores sobre bases científicas,
        éticas y humanísticas y promueve la investigación científica y
        tecnológica de alto nivel académico para contribuir al mejoramiento de
        la vida social, cultural, política y económica del país y la región
        Centroamericana. Garantiza su compromiso social a través del desarrollo
        de programas académicos y de investigación que aborden y prioricen los
        problemas de Honduras y de la región, aplicables al desarrollo del
        sector agrícola y áreas afines. La investigación universitaria deberá
        responder a la política, agenda y líneas prioritarias de investigación
        científica y tecnológica, y desarrollarse de acuerdo con los principios
        y fines establecidas por la Institución.
      </p>

      <p>
        Para cumplir con sus funciones de generación y transferencia de
        conocimientos, tecnologías e innovación, y el desarrollo de estudios de
        posgrado, la UNAG cuenta con un Sistema de Investigación y Posgrados
        (SIP), integrado por las unidades de investigación y posgrado en las
        Facultades y Departamentos, Centros e Institutos de Investigación, los
        Consejos y Grupos de Investigación, y los Investigadores/as
        independientes.
      </p>
      <p>
        La Dirección del SIP es la instancia responsable de supervisar,
        coordinar y estimular la investigación y los estudios de posgrado de
        alto nivel en la institución. Impulsa y apoya, prioritariamente, los
        proyectos, programas y estudios interdisciplinarios y
        multidisciplinarios que se ejecutan en las unidades académicas y de
        investigación. De igual manera, proporciona los mecanismos necesarios
        para que el producto de la investigación se transfiera a la sociedad.
      </p>
      <p>
        Como instrumentos que regulan el funcionamiento del SIP, se cuenta con
        la Política de Investigación Universitaria y el Reglamento del Sistema
        de Investigación y Estudios de Posgrado, que establecen las bases
        normativas de organización, promoción, desarrollo y financiamiento de la
        investigación y de los estudios de posgrado en la Universidad Nacional
        de Agricultura.
      </p>
    </article>
  </section>
</Layout>
