---
import '@/styles/header.css';
import { MapPin, Mail, LogIn } from "@lucide/astro";

import AdmisionesIcon from "@assets/icons/admisiones-icon.astro";
import CalendarioAcademicoIcon from "@/assets/icons/calendario-academico-icon.astro";
import Navigation from "@/components/astro/navigation.astro";
import DrawerNavigation from '@/components/astro/navigation/drawer-navigation.astro';

---

<section id="header-section" class="text-[12px] z-10 fixed w-full transition-all duration-300">
  <header class="flex flex-col lg:flex-row justify-between w-full">

    <div class="flex bg-unag-dark-green text-white w-full lg:w-fit h-fit py-2 px-3 gap-4">
      <p class="flex items-center gap-1">
        <MapPin size={12} /> Catacamas, Olancho
      </p>
      <p>
        <a class="flex items-center gap-1" href="mailto:info@unag.edu.hn"
          ><Mail size={12} /> info@unag.edu.hn</a
        >
      </p>
    </div>


    <div class="grid grid-cols-3 lg:flex text-white">
      <div
        class="flex bg-unag-dark-green py-2 px-4 h-full items-center hover:bg-unag-yellow hover:text-unag-gray hover:transition hover:ease-out hover:duration-300"
      >
        <a class="flex gap-1 items-center text-center" href=""
          ><LogIn size={22} /> Ingresar</a
        >
      </div>
      <div
        class="flex bg-unag-light-green text-unag-dark-green py-2 lg:px-4 h-full items-center hover:bg-unag-yellow hover:text-unag-gray hover:transition hover:ease-out hover:duration-300"
      >
        <a class="flex gap-1 items-center pl-3 lg:pl-0" href=""
          ><CalendarioAcademicoIcon /> Calendario academico</a
        >
      </div>
      <div
        class="relative flex bg-unag-green py-2 px-4 items-center overflow-hidden group cursor-pointer"
      >
        <a class="flex items-center gap-1 relative z-10 group-hover:opacity-0 transition-opacity duration-200" href="">
          <AdmisionesIcon /> Admisiones
        </a>
        <div
          class="absolute inset-0 bg-unag-yellow transform translate-y-full group-hover:translate-y-0 transition-transform duration-300 ease-out pointer-events-none"
        >
        </div>
        <a
          href=""
          class="absolute inset-0 flex items-center justify-center text-unag-gray opacity-0 group-hover:opacity-100 transition-opacity duration-300 delay-100 z-20"
        >
          Admisiones
        </a>
      </div>
    </div>
  </header>

  <Navigation />
 
</section>

<DrawerNavigation />
 
<script>
  const headerSection = document.querySelector('#header-section');
  const header = document.querySelector('header');
  let lastScrollY = window.scrollY;

  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    
    if (scrollY > 50) {
      headerSection?.classList.add('scrolled');
    } else {
      headerSection?.classList.remove('scrolled');
    }

    
    const scrollDiff = Math.abs(scrollY - lastScrollY);
    if (scrollDiff > 5 && scrollY > 100) {
      if(scrollY > lastScrollY) {
        
        header?.classList.add('hide-header');
        header?.classList.remove('show-header');
        headerSection?.classList.add('collapsed');
      } else {
       
        header?.classList.remove('hide-header');
        header?.classList.add('show-header');
        headerSection?.classList.remove('collapsed');
      }
    }
    
    lastScrollY = scrollY;
  });
</script>

