---
import { Image } from "astro:assets";
import { Menu, X, ChevronDown } from "@lucide/astro";

import logoUnagBlanco from "@assets/img/logo-unag-blanco.png";
import LinkDropdownMenu from "@/components/astro/navigation/link-dropdown-menu.astro";
import DropdownMenuContainer from "@/components/astro/navigation/dropdown-menu-container.astro";
import DropdownMenuItemWithSubmenu from "@/components/astro/navigation/dropdown-menu-item-with-submenu.astro";
import SubmenuLink from "@/components/astro/navigation/submenu-link.astro";
---

<!-- <nav class="pt-1 pl-5 lg:pt-5 lg:pl-5 text-white z-10 scale-100 min-[1280px]:scale-90 min-[2560px]:scale-110 origin-left ">
    
    <div class="hidden lg:flex items-center gap-2">
        <div id="logo-unag" class="bg-unag-dark-green p-5 mb-3">
            <a href="/" class="block ">
                 <Image
                    class="lg:w-45"
                    src={logoUnagBlanco}
                    alt="UNAG Logo"
                    loading="eager"
                  />
            </a>
        </div>
        <div class="flex items-center bg-unag-green h-13 px-5 overflow-visible relative border-b-4 rounded-full border-unag-dark-green mr-5">
            <ul class="flex gap-5">
                <li><a href="/" class="hover:text-unag-yellow transition-colors">Inicio</a></li> 
                <li><a href="" class="hover:text-unag-yellow transition-colors">Noticias</a></li>
                
                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Acerca <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Misión y Visión</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Valores</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Autoridades</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Organización <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <DropdownMenuItemWithSubmenu title="Estructura Organizacional">
                            <SubmenuLink href="">Sistema de autoevaluación para la acreditación de la calidad educativa</SubmenuLink>
                            <SubmenuLink href="">Direcciones</SubmenuLink>
                            <SubmenuLink href="">Coordinaciones</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <DropdownMenuItemWithSubmenu title="Consejo Directivo">
                            <SubmenuLink href="">Miembros</SubmenuLink>
                            <SubmenuLink href="">Funciones</SubmenuLink>
                            <SubmenuLink href="">Actas</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <DropdownMenuItemWithSubmenu title="Rectoría">
                            <SubmenuLink href="">Rector</SubmenuLink>
                            <SubmenuLink href="">Vicerrectoría Académica</SubmenuLink>
                            <SubmenuLink href="">Vicerrectoría Administrativa</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <LinkDropdownMenu href="">Departamentos</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

              
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        ERP <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Sistema Académico</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Portal Estudiantes</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Portal Docentes</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Biblioteca Virtual</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

               
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Carreras <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Ingeniería Agronómica</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Ingeniería en Zootecnia</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Ingeniería Forestal</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Ingeniería Agroindustrial</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Ver todas las carreras</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Biblioteca <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Catálogo</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Biblioteca Digital</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Horarios</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Servicios</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

               
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Transparencias <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Presupuesto</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Informes Financieros</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Licitaciones</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Portal de Datos Abiertos</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

               
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Admisión <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Requisitos</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Proceso de Admisión</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Fechas Importantes</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Aplicar Ahora</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        COCOIN <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">Sobre COCOIN</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Proyectos</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Publicaciones</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Contacto</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Comisión CACN <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="">¿Qué es CACN?</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Integrantes</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Documentos</LinkDropdownMenu>
                        <LinkDropdownMenu href="">Información</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>
            </ul>
        </div>
    </div>

   
    <div class="lg:hidden mt-3 mb-3">
        <div class="flex items-center gap-5">
            <button id="menu-toggle" class="bg-unag-green p-3 rounded-lg">
            <Menu size={24} />
            </button>
             <a href="/">
                <Image
                    class="w-35"
                    src={logoUnagBlanco}
                    alt="UNAG Logo"
                    loading="eager"
                />
            </a>
        </div>
    </div>

</nav> -->


<nav class="flex lg:justify-center lg:items-center w-full text-white z-20 scale-100 min-[1280px]:scale-90 min-[2560px]:scale-110 py-2">
    
    <div class="hidden lg:flex items-center">
        <div id="logo-unag" class="bg-unag-dark-green px-20 py-4 ">
            <a href="/" class="block ">
                 <Image    
                    class="lg:w-45"
                    src={logoUnagBlanco}
                    alt="UNAG Logo"
                    loading="eager"
                  />
            </a>
        </div>
        <div class="flex items-center bg-unag-green h-13 p-5 h-15 overflow-visible relative border-b-4 border-r-4 border-unag-dark-green">
            <ul class="flex gap-5">
                <li><a href="/" class="hover:text-unag-yellow transition-colors">Inicio</a></li> 
                <li><a href="https://portal.blog.unag.edu.hn" class="hover:text-unag-yellow transition-colors">Noticias</a></li>
                
                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Acerca <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="/acerca/mision-y-vision">Misión y Visión</LinkDropdownMenu>
                        <LinkDropdownMenu href="/acerca/historia/">Historia</LinkDropdownMenu>
                        <!-- <LinkDropdownMenu href="https://portal.unag.edu.hn/experiencia-academica/">Experiencia Académica</LinkDropdownMenu> -->
                        <LinkDropdownMenu href="/acerca/normativas">Normativas</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Organización <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <DropdownMenuItemWithSubmenu title="Rectoría">
                            <SubmenuLink href="/organizacion/rectoria/rector">Rector</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/unidad-de-transparencia/">Unidad de Transparencia</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/unidad-de-genero/">Unidad de Género</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/comisionado-universitario-de-derechos-humanos/">Comisionado Universitario de Derechos Humanos</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/asesoria-legal/">Asesoría Legal</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sepeg/">SEPEG</SubmenuLink>
                            <SubmenuLink href="https://setic.unag.edu.hn" target="_blank">SETIC</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/segre/">SEGRE</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/seapi/">SEAPI</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <DropdownMenuItemWithSubmenu title="Vicerrectorías">
                            <SubmenuLink href="https://portal.unag.edu.hn/vice-rectoria-academica/">Vicerrectoría Académica</SubmenuLink>
                            <SubmenuLink href="https://portal.internacionalizacion.unag.edu.hn/">Vicerrectoría de Internacionalización</SubmenuLink>
                            <SubmenuLink href="https://vve.unag.edu.hn/">Vicerrectoría de Vida Estudiantil</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <LinkDropdownMenu href="">Secretaría General</LinkDropdownMenu>
                        <DropdownMenuItemWithSubmenu title="Facultades">
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-ciencias/">Facultad de Ciencias</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-ciencias-agrarias/">Facultad de Ciencias Agrarias</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-ciencias-de-la-tierra-y-la-conservacion/">Facultad de Ciencias de la Tierra y la Conservación</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-ciencias-tecnologicas/">Facultad de Ciencias Tecnológicas</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-medicina-veterinaria/">Facultad de Medicina Veterinaria y Zootecnia</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/facultad-de-ciencias-economicas/">Facultad de Ciencias Económicas y Administrativas</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <DropdownMenuItemWithSubmenu title="Direcciones Académicas">
                            <SubmenuLink href="https://dasdie.unag.edu.hn/">Sistema de Docencia e Innovación Educativa</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-de-admision/">Sistema de Admisión</SubmenuLink>
                            <SubmenuLink href="https://dasaace.unag.edu.hn/">Sistema de Autoevaluación para la Acreditación de la Calidad Educativa</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-academico-de-cultura-artes-y-deportes/">Sistema Académico de Cultura, Artes y Deportes</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-de-carrera-docente/">Sistema de Carrera Docente</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-de-desarrollo-tecnologico/">Sistema de Desarrollo Tecnológico</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-de-investigacion-y-postgrado/">Sistema de Investigación y Postgrado</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/sistema-de-vinculacion-universidad-sociedad/">Sistema de Vinculación Universidad Sociedad</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <DropdownMenuItemWithSubmenu title="Sedes Regionales">
                            <SubmenuLink href="https://portal.unag.edu.hn/comayagua/">Comayagua</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/tomala/">Tomalá</SubmenuLink>
                            <SubmenuLink href="https://portal.unag.edu.hn/mistruck/">Mistruck</SubmenuLink>
                        </DropdownMenuItemWithSubmenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/junta-de-direccion-universitaria/q">Junta de Dirección Universitaria</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

              
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        ERP <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/matricula/login" target="_blank">Ingresar ERP</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://sys.unag.edu.hn/login" target="_blank">SysUNAG</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://moodle.unag.edu.hn/" target="_blank">Campus Virtual</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://sed.unag.edu.hn/" target="_blank">Sistema de Educación a Distancia</LinkDropdownMenu>                        
                    </DropdownMenuContainer>
                </li>

               
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Carreras <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/ingenieria-agronomica/">Ingeniería Agronómica</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/ingenieria-en-gestion-integral-de-los-recursos-naturales/">Ingeniería en Gestión Integral de los Recursos Naturales</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/tecnologia-de-alimentos/">Ingeniería en Tecnología Alimentaria</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/medicina-veterinaria/">Medicina Veterinaria</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/ingenieria-en-zootecnia/">Ingeniería en Zootecnia</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/administracion-de-empresas-agropecuarias/">Administración de Empresas Agropecuarias</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/licenciatura-en-economia-social-agraria/">Licenciatura en Economía Social Agraria</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/ingenieria-en-agroexportacion/">Ingeniería en Agroexportación</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Biblioteca <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://biblioteca-intra.unag.edu.hn:8000/">Catálogo</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/recursos-descargables/">Recursos Descargables</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Transparencias <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://portalunico.iaip.gob.hn/#/portal=371">Portal IAIP</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://sielho.iaip.gob.hn/solicitud/solicitante/registrar/">SIELHO IAIP</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Admisión <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href=https://portal.unag.edu.hn/procesos-de-admision-unag-2026/">Procesos de Admisión</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/requisitos-para-ingresar-a-la-universidad-nacional-de-agricultura/">Requisitos</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/preguntas-recurrentes/">Preguntas Frecuentes</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        COCOIN <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/cocoin/">Componentes</LinkDropdownMenu>
                        <LinkDropdownMenu href="https://www.onadici.gob.hn/">ONADICI</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>

                
                <li class="relative group">
                    <button class="flex items-center gap-1 hover:text-unag-yellow transition-colors">
                        Comisión CACN <ChevronDown size={14} class="transition-transform group-hover:rotate-180 duration-300" />
                    </button>
                    <DropdownMenuContainer>
                        <LinkDropdownMenu href="https://portal.unag.edu.hn/wp-content/uploads/2022/07/GACETA-26-DE-MAYO-DE-2022-No.-35933-SECCION-A.pdf">Decreto No. 47-2022</LinkDropdownMenu>
                    </DropdownMenuContainer>
                </li>
            </ul>
        </div>
    </div>

   
    <div class="lg:hidden mt-3 mb-3 ml-6">
        <div class="flex items-center gap-5">
            <button id="menu-toggle" class="bg-unag-green p-3 rounded-lg">
            <Menu size={24} />
            </button>
             <a href="/">
                <Image
                    class="w-35"
                    src={logoUnagBlanco}
                    alt="UNAG Logo"
                    loading="eager"
                />
            </a>
        </div>
    </div>

</nav>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menuClose = document.getElementById('menu-close');
  const drawer = document.getElementById('mobile-drawer');
  const overlay = document.getElementById('mobile-overlay');

  function openDrawer() {
    drawer?.classList.remove('-translate-x-full');
    overlay?.classList.remove('opacity-0', 'invisible');
    overlay?.classList.add('opacity-100', 'visible');
    document.body.style.overflow = 'hidden';
  }

  function closeDrawer() {
    drawer?.classList.add('-translate-x-full');
    overlay?.classList.add('opacity-0', 'invisible');
    overlay?.classList.remove('opacity-100', 'visible');
    document.body.style.overflow = '';
  }

  menuToggle?.addEventListener('click', openDrawer);
  menuClose?.addEventListener('click', closeDrawer);
  overlay?.addEventListener('click', closeDrawer);
</script>